# DataTypes

## Integer

In [3]:
4568, 45, 89

(4568, 45, 89)

## Float

In [4]:
45.5, 0.05, 74.0

(45.5, 0.05, 74.0)

## String

In [5]:
"A", "hello", "Alpha"

('A', 'hello', 'Alpha')

# Operators

## + - / * ^ %

In [15]:
78+68

146

In [16]:
23-98

-75

In [17]:
25/5

5.0

In [18]:
8*8

64

In [20]:
# ^ is ** in python   # this is comment

2**10

1024

In [21]:
100%10

0

# '='  (Varibles)

In [22]:
number = 45
fraction = 45.5
string = "i am string"

add = number + fraction

In [7]:
number

45

In [8]:
fraction

45.5

In [9]:
string

'i am string'

In [23]:
add

90.5

## +=   -=   *=     /=

number = number + 1 

is same as number +=1

In [24]:
add = add + 1

In [25]:
add

91.5

In [26]:
add -= 1

In [27]:
add

90.5

In [32]:
add *= 2

In [33]:
add

181.0

# ==  !=

In [39]:
45 == 45

True

In [41]:
75 == 45

False

In [56]:
75 != 45

True

# <     > <= >=

In [44]:
2 < 3

True

In [45]:
2 > 3

False

In [46]:
2 <= 2

True

In [48]:
4 >= 3

True

## Varibales can not be a reserve word

for e.g: for, else, elif, not, and, yield, while

# Type()

In [164]:
type(45)

int

In [165]:
type(10.5)

float

In [166]:
type("str")

str

In [168]:
num = "100"
num

'100'

In [169]:
type(num)

str

In [170]:
num = int(num)

In [171]:
type(num)

int

In [174]:
num  = str(num)

In [175]:
type(num)

str

In [179]:
num = float(num)
num

100.0

In [180]:
type(num)

float

# Print()

In [11]:
print("Hello, World!")

Hello, World!

In [14]:
print(90)

90

In [13]:
print(number)

45

# Math expressions: Eliminating ambiguity

In [34]:
1 + 56 * 47

2633

In [35]:
#compiler will do DMAS

1 + ( 56 * 47 )

2633

In [36]:
(1 + 56) * 47

2679

# Concatenating text strings

In [37]:
"helow" + "world"

'helowworld'

In [38]:
h = "Hellow"
w = "World"

h + " " + w

'Hellow World'

# if statements

In [42]:
species = "cat"

In [43]:
if species == "cat":
    print("Yep, it's cat.")

Yep, it's cat.

# else and elif statements

In [49]:
if species == "cat":
    print("Yep, it's cat.")
else:
    print("Nope, not cat.")

Yep, it's cat.

In [50]:
species = "dog"

In [51]:
if species == "cat":
    print("Yep, it's cat.")
else:
    print("Nope, not cat.")

Nope, not cat.

In [52]:
donut_condition = "fresh"
# donut_condition = "not fresh"
# donut_condition = "old

In [53]:
if donut_condition == "fresh":
    buy_score = 10
elif donut_condition == "not fresh":     # same as elseif
    buy_score = 5
else:
    buy_score = 0

In [54]:
buy_score

10

# Testing sets of conditions

In [59]:
1 != 1 or species == "dog"

True

In [60]:
1 != 1 and species == "dog"

False

In [61]:
1 == 1 and species == "dog"

True

# List

In [62]:
mixed_things = [1, "Bob", "Now is"]

In [65]:
mixed_things

[1, 'Bob', 'Now is']

In [66]:
# index start with 0

print(mixed_things[0])

1

In [67]:
print(mixed_things[-1])

Now is

# Lists: Adding and changing elements

### append

In [68]:
mixed_things.append("New York")

In [69]:
mixed_things

[1, 'Bob', 'Now is', 'New York']

In [70]:
mixed_things[-1]

'New York'

### insert

In [71]:
mixed_things.insert(0, "Washington")

In [72]:
mixed_things

['Washington', 1, 'Bob', 'Now is', 'New York']

In [73]:
mixed_things[0]

'Washington'

# Lists: Taking slices out of them

In [74]:
mixed_things[2::]

['Bob', 'Now is', 'New York']

In [75]:
mixed_things[:3]

['Washington', 1, 'Bob']

In [79]:
mixed_things[3:5]

['Now is', 'New York']

# Lists: Deleting and removing elements

In [80]:
del mixed_things[1]

In [81]:
mixed_things

['Washington', 'Bob', 'Now is', 'New York']

In [82]:
mixed_things.remove("Bob")

In [83]:
mixed_things

['Washington', 'Now is', 'New York']

# Lists: popping elements

In [84]:
mixed_things.pop()

'New York'

In [85]:
mixed_things

['Washington', 'Now is']

In [86]:
mixed_things.append("HI")
mixed_things.append("Bye")
mixed_things.append("YO")
mixed_things.append("Fellas")

In [87]:
mixed_things

['Washington', 'Now is', 'HI', 'Bye', 'YO', 'Fellas']

### get length of list with len()

In [103]:
len(mixed_things)

5

In [88]:
mixed_things.pop(3)

'Bye'

In [89]:
mixed_things

['Washington', 'Now is', 'HI', 'YO', 'Fellas']

In [104]:
len(mixed_things)

5

# Tuples

In [90]:
states_in_order_of_founding = ("Delaware","Pennsylvania", "New Jersey", "Georgia")

In [91]:
states_in_order_of_founding

('Delaware', 'Pennsylvania', 'New Jersey', 'Georgia')

# for loops

In [94]:
cleanest_cities = ["Cheyenne", "Santa Fe", "Tucson","Great Falls", "Honolulu"]

syntax: for element(per element) in elements(list)

In [100]:
for a_clean_city in cleanest_cities:
    print(a_clean_city)

Cheyenne
Santa Fe
Tucson
Great Falls
Honolulu

In [98]:
city_to_check = "Santa Fe"

In [99]:
for a_clean_city in cleanest_cities:
    
    if city_to_check == a_clean_city:
        print("It's one of the cleanest cities")
    else:
        print("No one")

No one
It's one of the cleanest cities
No one
No one
No one

# range()

In [105]:
for i in range(5):     # start from 0 to n-1
    print(i)

0
1
2
3
4

In [107]:
for i in range(1,5):   # start from 1 to n-1
    print(i)

1
2
3
4

In [109]:
for i in range(0,10,2):    # will return even numbers from 0 to 9
    print(i)               # it will take steps as ramge(start,end,step)

0
2
4
6
8

In [110]:
for i in range(1,10,2):    # will return odd numbers from 1 to 9
    print(i)

1
3
5
7
9

In [112]:
for i in range(0,50,5):    # will return table of 5
    print(i)

0
5
10
15
20
25
30
35
40
45

In [113]:
for i in range(0,51,5):    # will return table of 5
    print(i)

0
5
10
15
20
25
30
35
40
45
50

# Nested For Loops

In [117]:
for i in range(5):
    print(i)
    for j in range(3):
        print("  ", j)   # seperating print by addind ,

0
   0
   1
   2
1
   0
   1
   2
2
   0
   1
   2
3
   0
   1
   2
4
   0
   1
   2

In [134]:
for i in range(0,5):
    
    for j in range(i+1):
        print("* ",end="")
      
    # ending line after each row
    print("\r")

*
* *
* * *
* * * *
* * * * *

# Task 1

# Input

In [101]:
city_to_check = input("Enter the name of a city: ")

Enter the name of a city: karachi

In [102]:
price = input("Enter price: ")

Enter price: 999

# Dictionaries

In [139]:
customer = {
            "first name": "David", 
            "lastname": "Elliott", 
            "address": "4803 Wellesley St.",
            "Age" : 50,
           }

In [137]:
customer

{'first name': 'David', 'lastname': 'Elliott', 'address': '4803 Wellesley St.'}

In [138]:
customer["first name"]

'David'

In [140]:
customer["Age"]

50

### Add new data

In [141]:
customer["Gender"] = "Male"

In [142]:
customer

{'first name': 'David',
 'lastname': 'Elliott',
 'address': '4803 Wellesley St.',
 'Age': 50,
 'Gender': 'Male'}

In [143]:
customer["Gender"]

'Male'

### update Data

In [144]:
customer["Age"] = 25

In [145]:
customer

{'first name': 'David',
 'lastname': 'Elliott',
 'address': '4803 Wellesley St.',
 'Age': 25,
 'Gender': 'Male'}

In [146]:
customer["Age"]

25

### deleting data

In [147]:
del customer["address"]

In [155]:
customer

{'first name': 'David', 'lastname': 'Elliott', 'Age': 25, 'Gender': 'Male'}

# Dictionaries: Looping

## through values

In [156]:
for each_value in customer.values():
    print(each_value)

David
Elliott
25
Male

## through keys

In [157]:
for each_key in customer.keys():
    print(each_key)

first name
lastname
Age
Gender

## through key-value pairs

In [161]:
customer.items()

dict_items([('first name', 'David'), ('lastname', 'Elliott'), ('Age', 25), ('Gender', 'Male')])

In [162]:
for item in customer.items():
    print(item)

('first name', 'David')
('lastname', 'Elliott')
('Age', 25)
('Gender', 'Male')

In [163]:
item[0],item[1]

('Gender', 'Male')

In [160]:
for each_key, each_value in customer.items():
    print("The customer's " + each_key + " is " + str(each_value))

The customer's first name is David
The customer's lastname is Elliott
The customer's Age is 25
The customer's Gender is Male

# Task 2

# Nested Dictionary

In [181]:
customer = {
            "first name": "David", 
            "lastname": "Elliott", 
            "address": "4803 Wellesley St.",
            "Age" : 50,
            "Expertise": ["Math","Physics"],
            "PreviosJob": {
                "NET":"2 years",
                "FOL":"5 yeras"
            }
           }

In [183]:
customer["Expertise"]

['Math', 'Physics']

In [184]:
customer["Expertise"][0]

'Math'

In [185]:
customer["PreviosJob"]

{'NET': '2 years', 'FOL': '5 yeras'}

In [186]:
customer["PreviosJob"]["NET"]

'2 years'

# Functions

In [187]:
first_number = 2
second_number = 3
total = first_number + second_number

In [188]:
total

5

### function defined with def funcName()

In [189]:
def add_numbers():
    first_number = 2
    second_number = 3
    total = first_number + second_number
    print(total)

### function call by its name

In [190]:
add_numbers()

5

In [192]:
add = add_numbers()

5

In [194]:
add

### return in function

In [195]:
def add_numbers():
    first_number = 2
    second_number = 3
    total = first_number + second_number
    return total

In [196]:
add = add_numbers()

In [197]:
add

5

### input with function

In [198]:
def add_numbers(first_number,second_number):
    total = first_number + second_number
    return total

In [199]:
add_numbers(5,5)

10

In [200]:
def checkEven(num):
    if num%2 == 0:
        return True
    else:
        return False

In [201]:
checkEven(10)

True

In [202]:
checkEven(11)

False

# Functions: Local vs. global variables

In [207]:
add =add_numbers(5,5)

In [208]:
def printAdd():
    print(add)

In [209]:
printAdd()

10

In [210]:
def printHi():
    hi = "hi"

In [213]:
printHi()

hi

In [214]:
hi

NameError: name 'hi' is not defined

In [215]:
def printHi():
    hi = "hi"
    print(hi)

In [216]:
printHi()

hi

# Task 3

# While loops

In [227]:
end = 10
start = 0.10

while start <= 100:
    start += 0.10

In [228]:
iteration = 0
end = 10
start = 0.10

while start <= 100:
    iteration += 1
    start += 0.10

In [229]:
iteration

1000

## while True

In [230]:
end = 10
start = 0.10

while True:
    start += 0.10
    if start <= 100:
        break

# Libraries

In [231]:
import os

In [232]:
os.mkdir("./Files")    #press tab after . to view list

In [233]:
os.listdir("./books")

['Smarter Way to Learn Paython.pdf']

In [234]:
os.listdir("./")

['.ipynb_checkpoints',
 'books',
 'Files',
 'IntroductionToPython.ipynb',
 'Prerequisites.ipynb']

In [235]:
import math

In [236]:
math.pi

3.141592653589793

In [237]:
math.sqrt(25)

5.0

# Read Write Files

In [252]:
with open("greet.txt", "w") as f:
    pass

In [260]:
with open("greet.txt", "r+") as f:
    data = f.read()

In [261]:
print(data)

In [263]:
with open("greet.txt", "w") as f:
    f.write("Hello")
    f.close()

In [264]:
with open("greet.txt", "r+") as f:
    data = f.read()

In [265]:
print(data)

Hello

In [266]:
f.close()

In [268]:
with open("greet.txt", "a") as f:
    f.write("\nHave a nice day!")
    f.close()

In [269]:
with open("greet.txt", "r+") as f:
    data = f.read()

In [270]:
print(data)

Hello
Have a nice day!
Have a nice day!

# Task 4

# Task 5

# -------------- End of File ------------------------------

.

.

.

.

.

.

.

.

.




## below are the given tasks

# Task 1:
    
        * 
       * * 
      * * * 
     * * * *
    * * * * *
    
Print this patthern using Nested Loops

# Task 2:
    
Take input name, roll#, age, marks of 6 subjects( for e.g: math,physics,chemistry, etc) using loop

create a dictionary of it

sum all the marks

calculate percentage

add total marks, percentage and result (Pass or Fail below 50%)

# Task 3:
    
create a function that takes two number and an instruction

functoin should perform add,sub,divide and multiply according to the instruction

# Task 4:
    
create a file nam as students_data.txt

create a nested dictory from the data of task 2 of altleast 10 students

save that data in file

read the file

print data

# Task 5:
    
your directory must have multiple files such as student_data, customer_data, client_data and etc

create a dictionary of random data by taking inputs

create a function that takes two inputs as file_name and data

your function must read that file from your directory

update the data

and close it